* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  box-sizing: border-box;
}

.stopwatch {
  width: 90%;
  max-width: 600px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(images/background.png);
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 40px 0;
  color: #fff;
  margin: 200px auto 0;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.stopwatch h1 {
  margin-top: 60px;
  margin-bottom: 40px;
  font-size: 64px;
  font-weight: 300;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons img {
  width: 50px;
  margin: 0 20px;
}

.buttons img:nth-child(2) {
  width: 80px;
}

@media (max-width: 600px) {
  .stopwatch {
    padding: 30px 15px;
    margin: 100px auto;
  }

  .stopwatch h1 {
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 30px;
  }

  .buttons {
    gap: 20px;
  }

  .buttons img {
    width: 50px !important;
    margin: 10px 0;
  }
}

